# Virtual environment
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

#Dataset
USA Housing Dataset.csv

encoder.pkl
house_price_model.h5
predictions.csv
processed_features.csv
processed_targets.csv
scaler.pkl